[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addict = "*"
"ruamel.yaml" = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
pylint = "*"
yamllint = "*"
ipython = "*"

[requires]
python_version = "3.8"
