[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addict = ">=2.4"
"ruamel.yaml" = ">=0.17"

[dev-packages]
mypy = ">=0.971"
black = ">=22.6"
isort = ">=5.10"
build = ">=0.8"
pytest = ">=7.1"
Sphinx = ">=5.1"
sphinx-rtd-theme = ">=1.0"
myst-parser = ">=0.18"
bump2version = ">=1.0"

[requires]
python_version = "3.8"
